/* src/Timeline.css */
body {
  font-family: Arial, sans-serif;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 800px;
}

.timeline-item {
  position: relative;
}

.timeline-item.active .timeline-content_box {
  background-color: #18181b;
  border-color: #009688;
}

.timeline-content_box {
  position: relative;
  padding: 20px;
  background: #27272a;
  color: #fff;
  border-radius: 8px;
  text-align: left;
  border: 2px solid transparent;
}

.timeline-item.left .timeline-content_box::before,
.timeline-item.right .timeline-content_box::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 20px;
  height: 20px;
  background: #333;
  border: 2px dashed #009688;
  border-radius: 50%;
  z-index: 10;
}

.timeline-item.left .timeline-content_box::before {
  right: -44px;
}

.timeline-item.right .timeline-content_box::before {
  left: -44px;
}

.timeline-content_box h2 {
  margin-top: 0;
  background: #009688;
  color: #fff;
  max-width: fit-content;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 16px;
}

.timeline-content_box p {
  margin: 8px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  border: 2px dashed #009688;
  border-left-width: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
  .timeline-item {
    width: 50%;
  }

  .timeline-item.left {
    padding-right: 50%;
  }

  .timeline-item.right {
    padding-left: 50%;
  }

  .timeline-item.left .timeline-content {
    padding-right: 30px;
  }

  .timeline-item.right .timeline-content {
    padding-left: 30px;
  }
}

/* Small screens (phones, up to 767px) */
@media (max-width: 767px) {
  .timeline::after {
    left: 0;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-content {
    padding-left: 30px;
  }

  .timeline-content_box::before {
    left: -44px;
  }
}
