/* src/Timeline.css */
body {
    font-family: Arial, sans-serif;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    color: #333;
    display: grid;
}
  